@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200&display=swap');

:root {
   --darkGreen: #012326;
   --lightGreen: #0C4040;
   --beige: #F2B279;
   --darkBeige: #D97855;
   --brown: #73261F;
}

* {
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   scroll-behavior: smooth;
}

body {
   background-color: var(--lightGreen);
   padding: 20px 100px;
   color: white;
}

.title h1 {
   font-size: 4vmax;
   color: white;
   text-align: center;
   text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.title h1::after {
   content: "";
   border-bottom: 5px solid var(--beige);
   width: 50%;
   display: block;
   margin: auto;
   box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

h1 {
   font-size: 2rem;
   margin: 20px 0;
   text-align: center;
}

h2 {
   font-size: 1.7rem;
   font-weight: 500;
   margin-top: 20px;
}

p {
   margin: 20px 0;
   font-size: 1.2rem;
   font-weight: 600;
}

span {
   color: var(--beige);
}

section {
   margin: 50px auto;
}

div {
   margin: 40px 0 50px;
}

.ringkasan {
   margin-bottom: 100px;
}

.deskripsi h3 {
   text-align: center;
   font-size: 2rem;
   margin: 50px auto -40px;
}

.step {
   margin: 80px auto;
}

.step img {
   width: 70%;
   height: fit-content;
   display: block;
   margin: 20px auto;
}

table,
th,
td {
   border: 2px solid hsl(16, 63%, 56%);
}

table {
   width: 80%;
   margin: 30px auto;
   border-collapse: collapse;
   font-size: 1.3rem;
   background-color: hsl(28, 55%, 71%);
   color: #012326;
}

tr:nth-child(even) {
   background-color: hsl(28, 72%, 65%);
}

th {
   padding: 10px;
   background-color: #73261F;
   color: white;
}

td {
   padding: 10px;
}

td:first-child {
   text-align: center;
}

.deskripsi p:last-child {
   text-align: center;
}

.button {
   width: fit-content;
   margin: auto;
}

a {
   text-decoration: none;
}


.tombol-tahoma button {
   background-color: var(--beige);
   padding: 0.7em 1.3em;
   display: inline-block;
   text-align: center;
   border: none;
   color: var(--darkGreen);
   box-shadow: 0 7px 5px rgba(0, 0, 0, 0.5);
   font-size: 1.2rem;
   font-weight: 700;
   border-radius: 20px;
   margin: 0 10px;
   cursor: pointer;
   transition: all 0.3s ease-out;
}

.tombol-tahoma button:hover {
   background-color: hsl(28, 82%, 61%);
}

.tombol-tahoma button:active {
   transform: translateY(7px);
   box-shadow: none;
}

a button {
   background-color: var(--darkGreen);
   padding: 0.7em 3em;
   display: inline-block;
   text-align: center;
   border: none;
   color: white;
   font-size: 1.3rem;
   font-weight: 700;
   border-radius: 20px;
   margin: 0 10px;
   cursor: pointer;
   transition: all 0.3s ease-out;
}

a button:hover {
   background-color: #ED6E41;
}

a button:active {
   transform: scale(0.9);
}

/* Responsive */

@media screen and (max-width: 1600px) {
   .button {
      width: max-content;
   }
}

@media screen and (max-width: 900px) {
   table {
      width: 90%;
   }

   .deskripsi img {
      width: 100%;
   }
}

@media screen and (max-width: 700px) {
   table {
      width: 100%;
   }

   .tombol-tahoma button {
      font-size: 1rem;
   }

   a button {
      font-size: 0.9rem;
   }
}

@media screen and (max-width:460px) {

   body {
      padding: 5px 50px;
   }

   h1 {
      font-size: 1.5rem;
   }

   h2 {
      font-size: 1.3rem;
   }

   p {
      font-size: 1rem;
   }

   .deskripsi img {
      width: 100%;
   }

   .button {
      width: fit-content;
      margin: 0 auto 30px;
   }

   a button {
      font-size: 0.8rem;
   }
}