@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200&display=swap');

:root {
   --darkGreen: #012326;
   --lightGreen: #0C4040;
   --beige: #F2B279;
   --darkBeige: #D97855;
   --brown: #73261F;
}

* {
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   scroll-behavior: smooth;
}

body {
   background-color: var(--darkGreen);
}

/* Header */
header {
   max-width: 100%;
   height: 100vh;
   margin-bottom: 2em;
}

.hero {
   padding: 80px 100px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
}

.hero-illust svg {
   width: 350px;
   height: 350px;
}

.hero-text h2 {
   font-size: 3vmax;
   text-align: right;
   color: white;
}

.hero-text span {
   color: var(--beige);
}

header a {
   text-decoration: none;
}

header a button {
   min-width: 20%;
   display: block;
   margin: auto;
   padding: 10px;
   border-radius: 15px;
   border: none;
   background-color: var(--lightGreen);
   color: var(--beige);
   font-size: 1.3rem;
   font-weight: 700;
   transition: all 0.3s ease-out;
   cursor: pointer;
   box-shadow: 0 10px 7px rgba(0, 0, 0, 0.5);
}

header a button:hover {
   background-color: #024950;
}

header a button:active {
   transform: translateY(10px);
   box-shadow: none;
}

/* About */
.about {
   max-width: 100%;
   height: 100vh;
   padding: 30px 100px;
   background-color: var(--beige);
}

.about-board {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 2em;
}

.about-title h1 {
   font-size: 6rem;
   line-height: 1em;
}

.about-title .z {
   color: var(--darkGreen);
}

.about-title .abra {
   color: var(--lightGreen);
}

.about-img img {
   width: 350px;
   height: 350px;
   box-shadow: -7px 7px 0 var(--darkGreen);
   border-radius: 20px;
}

.about-text {
   max-width: 70%;
   margin: auto;
}

.about-text p {
   color: var(--darkGreen);
   text-align: center;
   font-size: 1.5rem;
   font-weight: 600;
}

.about-text::after {
   content: "";
   display: block;
   border-bottom: 5px solid var(--brown);
   border-radius: 5px;
   width: 60%;
   margin: 15px auto;
}

.about-button p {
   text-align: center;
   font-size: 1.5rem;
}

.about-button p a {
   text-decoration: none;
   color: white;
}

.about-button p a button {
   padding: 3px 10px;
   border-radius: 15px;
   border: none;
   background-color: var(--lightGreen);
   color: white;
   font-size: 1.5rem;
   transition: all 0.3s ease-out;
   cursor: pointer;
}

.about-button p a button:hover {
   background-color: #024950;
}

.about-button p a button:active {
   transform: scale(0.95);
}

.report {
   height: 100vh;
   padding: 30px;
}

.report h2 {
   color: white;
   text-align: center;
   font-size: 4vmax;
   margin-bottom: 20px;
}

.container-report {
   width: 100%;
   margin: 40px auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 25px;
   justify-items: center;
}

.box-report {
   width: 300px;
   height: 400px;
   padding: 30px 0;
   background-color: var(--lightGreen);
   border-radius: 20px;
   box-sizing: border-box;
   border: 5px solid var(--brown);
   box-shadow: 0 10px 7px rgba(0, 0, 0, 0.5);
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   align-items: center;
}

.box-report h2 {
   color: white;
   font-size: 1.3rem;
}

.box-report p {
   color: white;
   text-align: center;
   font-size: 1.2rem;
}

.box-report a {
   text-decoration: none;

}

.box-report a button {
   background-color: var(--darkGreen);
   color: white;
   font-size: 1.2rem;
   padding: 10px 20px;
   border-radius: 20px;
   display: block;
   margin: auto;
   border: none;
   transition: all 0.3s ease-out;
   cursor: pointer;
}

.box-report a button:hover {
   background-color: var(--beige);
   color: var(--darkGreen);
}

.box-report a button:active {
   transform: scale(0.9);
}

/* Responsive */

@media screen and (min-width: 1600px) {
   .hero {
      padding: 150px 100px;
   }

   .hero-illust svg {
      width: 500px;
      height: 500px;
   }

   header a button {
      font-size: 2rem;
   }

   .about-board {
      padding: 100px;
      justify-content: space-between;
   }

   .about-title h1 {
      font-size: 8rem;
   }

   .about-img img {
      width: 400px;
      height: 400px;
   }

   .about-text p {
      font-size: 2.2rem;
   }

   .about-text::after {
      border-bottom: 10px solid var(--brown);
      margin: 20px auto;
   }

   .about-button p {
      font-size: 2.5rem;
   }

   .about-button p a button {
      padding: 6px 20px;
      font-size: 2rem;
   }
}

@media screen and (max-width: 1200px) {
   .hero {
      padding: 100px;
   }

   .hero-illust svg {
      width: 400px;
      height: 400px;
   }

   header a button {
      font-size: 1.5rem;
   }

   .about-img img {
      width: 300px;
      height: 300px;
   }


   .report {
      height: fit-content;
   }
}

@media screen and (max-width: 960px) {

   .hero {
      padding: 40px 60px;
   }

   .about-title h1 {
      font-size: 4rem;
   }

   .about-img img {
      width: 250px;
      height: 250px;
   }

   .about-text p {
      font-size: 1.5rem;
   }

   .about-button p {
      font-size: 1.5rem;
   }

   .about-button p a button {
      font-size: 1.5rem;
   }
}

@media screen and (max-width: 700px) {
   .hero {
      padding: 40px 30px;
   }

   .hero-illust svg {
      width: 300px;
      height: 300px;
   }

   header a button {
      font-size: 1rem;
   }

   .about {
      padding: 0 30px;
   }

   .about-board {
      flex-direction: column;
      padding: 1em;
   }

   .about-title {
      margin: 15px 0;
   }

   .about-title h1 {
      font-size: 2rem;
      text-align: center;
   }

   .about-img img {
      width: 200px;
      height: 200px;
   }

   .about-text p {
      font-size: 1.1rem;
   }

   .about-text::after {
      margin: 10px auto;
   }

   .about-button p {
      font-size: 1.1rem;
   }

   .about-button p a button {
      font-size: 1.1rem;
   }
}

@media screen and (max-width: 460px) {
   .hero {
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
   }

   .hero-text h2 {
      text-align: center;
   }

   header a button {
      font-size: 1rem;
   }

   .about {
      padding: 30px 30px;
   }

   .about-img img {
      width: 200px;
      height: 200px;
   }

   .about-text {
      max-width: 90%;
   }

   .about-text p {
      font-size: 1rem;
   }

   .about-button p {
      font-size: 1rem;
   }

   .about-button p a button {
      font-size: 1rem;
   }

   .report {
      margin-bottom: 30px;
   }
}